<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" rynResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" rynResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fas fa-desktop" />
    <siteMapNode SystemName="Catalog" rynResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" IconClass="fas fa-book" >
      <siteMapNode SystemName="Products" rynResource="Admin.Catalog.Products" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Categories" rynResource="Admin.Catalog.Categories" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Manufacturers" rynResource="Admin.Catalog.Manufacturers" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Product reviews" rynResource="Admin.Catalog.ProductReviews" PermissionNames="ManageProductReviews" controller="ProductReview" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Product tags" rynResource="Admin.Catalog.ProductTags" PermissionNames="ManageProductTags" controller="Product" action="ProductTags" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Attributes" rynResource="Admin.Catalog.Attributes" PermissionNames="ManageAttributes" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Product attributes" rynResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Specification attributes" rynResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Checkout attributes" rynResource="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List" IconClass="far fa-circle"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Sales" rynResource="Admin.Sales" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts" IconClass="fas fa-shopping-cart">
      <siteMapNode SystemName="Orders" rynResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Shipments" rynResource="Admin.Orders.Shipments.List" PermissionNames="ManageOrders" controller="Order" action="ShipmentList"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Return requests" rynResource="Admin.ReturnRequests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Recurring payments" rynResource="Admin.RecurringPayments" PermissionNames="ManageRecurringPayments" controller="RecurringPayment" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Gift cards" rynResource="Admin.GiftCards" PermissionNames="ManageGiftCards" controller="GiftCard" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Current shopping carts and wishlists" rynResource="Admin.CurrentCarts.CartsAndWishlists" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentCarts"  IconClass="far fa-dot-circle"/>      
    </siteMapNode>
    <siteMapNode SystemName="Customers" rynResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="far fa-user" >
      <siteMapNode SystemName="Customers list" rynResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Customer roles" rynResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Online customers" rynResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="far fa-dot-circle" />      
      <siteMapNode SystemName="Vendors" rynResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Activity logs" rynResource="Admin.Customers.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Activity types" rynResource="Admin.Customers.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="GDPR log" rynResource="Admin.Customers.GdprLog" PermissionNames="ManageCustomers" controller="Customer" action="GdprLog" IconClass="far fa-dot-circle" />
    </siteMapNode>
    <siteMapNode SystemName="Promotions" rynResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" IconClass="fas fa-tags">
      <siteMapNode SystemName="Discounts" rynResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Affiliates" rynResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Newsletter subscriptions" rynResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Campaigns" rynResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Content Management" rynResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fas fa-cubes">
      <siteMapNode SystemName="Topics" rynResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Message templates" rynResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News items" rynResource="Admin.ContentManagement.News.NewsItems" PermissionNames="ManageNews" controller="News" action="NewsItems" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News comments" rynResource="Admin.ContentManagement.News.Comments" PermissionNames="ManageNews" controller="News" action="NewsComments" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Blog posts" rynResource="Admin.ContentManagement.Blog.BlogPosts" PermissionNames="ManageBlog" controller="Blog" action="BlogPosts" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Blog comments" rynResource="Admin.ContentManagement.Blog.Comments" PermissionNames="ManageBlog" controller="Blog" action="BlogComments" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Polls" rynResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Manage forums" rynResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>    
    <siteMapNode SystemName="Configuration" rynResource="Admin.Configuration" PermissionNames="ManageStores,ManageCountries,ManageLanguages,ManageSettings,ManageAppSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fas fa-cogs">
      <siteMapNode SystemName="Settings" rynResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="far fa-dot-circle" >
        <siteMapNode SystemName="General settings" rynResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Customer and user settings" rynResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Order settings" rynResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Shipping settings" rynResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Tax settings" rynResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Catalog settings" rynResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Shopping cart settings" rynResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Reward points" rynResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" IconClass="far fa-circle"/>
        <siteMapNode SystemName="GDPR settings" rynResource="Admin.Configuration.Settings.Gdpr" controller="Setting" action="Gdpr" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Vendor settings" rynResource="Admin.Configuration.Settings.Vendor" controller="Setting" action="Vendor" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Blog settings" rynResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="far fa-circle"/>
        <siteMapNode SystemName="News settings" rynResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Forums settings" rynResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Media settings" rynResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="far fa-circle"/>
        <siteMapNode SystemName="App settings" rynResource="Admin.Configuration.AppSettings" PermissionNames="ManageAppSettings" controller="Setting" action="AppSettings" IconClass="far fa-circle"/>
        <siteMapNode SystemName="All settings" rynResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="far fa-circle"/>
      </siteMapNode>
      <siteMapNode SystemName="Email accounts" rynResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Stores" rynResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Countries" rynResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Languages" rynResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Currencies" rynResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="far fa-dot-circle"/>      
      
      <siteMapNode SystemName="Payment methods" rynResource="Admin.Configuration.Payment.Methods" PermissionNames="ManagePaymentMethods" controller="Payment" action="Methods" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Payment restrictions" rynResource="Admin.Configuration.Payment.MethodRestrictions" PermissionNames="ManagePaymentMethods" controller="Payment" action="MethodRestrictions" IconClass="far fa-dot-circle"/>

      <siteMapNode SystemName="Tax providers" rynResource="Admin.Configuration.Tax.Providers" PermissionNames="ManageTaxSettings" controller="Tax" action="Providers" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Tax categories" rynResource="Admin.Configuration.Tax.Categories" PermissionNames="ManageTaxSettings" controller="Tax" action="Categories" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Shipping" rynResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Shipping providers" rynResource="Admin.Configuration.Shipping.Providers"  controller="Shipping" action="Providers" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Warehouses" rynResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Pickup points" rynResource="Admin.Configuration.Shipping.PickupPoints"  controller="Shipping" action="PickupPointProviders" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Dates and ranges" rynResource="Admin.Configuration.Shipping.DatesAndRanges" controller="Shipping" action="DatesAndRanges" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Measures" rynResource="Admin.Configuration.Shipping.Measures" controller="Measure" action="List"  IconClass="far fa-circle" />
      </siteMapNode>
      <siteMapNode SystemName="Access control list" rynResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Widgets" rynResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="far fa-dot-circle"/>
      
      <siteMapNode SystemName="Authentication" rynResource="Admin.Configuration.Authentication" PermissionNames="ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="External authentication methods" rynResource="Admin.Configuration.Authentication.ExternalMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="Authentication" action="ExternalMethods" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Multi-factor authentication methods" rynResource="Admin.Configuration.Authentication.MultiFactorMethods" PermissionNames="ManageMultifactorAuthenticationMethods" controller="Authentication" action="MultiFactorMethods" IconClass="far fa-circle"/>
      </siteMapNode>
      
      <siteMapNode SystemName="Local plugins" rynResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="All plugins and themes" rynResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="System" rynResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fas fa-cube">
      <siteMapNode SystemName="System information" rynResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Log" rynResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Warnings" rynResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Maintenance" rynResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Queued emails" rynResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Schedule tasks" rynResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Search engine friendly names" rynResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Templates" rynResource="Admin.System.Templates" PermissionNames="ManageMaintenance" controller="Template" action="List" IconClass="far fa-dot-circle"/>     
    </siteMapNode>
    <siteMapNode SystemName="Reports" rynResource="Admin.Reports" PermissionNames="ManageProducts,ManageOrders,OrderCountryReport,ManageCustomers" IconClass="fas fa-chart-line">
      <siteMapNode SystemName="Sales summary" rynResource="Admin.Reports.SalesSummary" PermissionNames="SalesSummaryReport" controller="Report" action="SalesSummary" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Low stock" rynResource="Admin.Reports.LowStock" PermissionNames="ManageProducts" controller="Report" action="LowStock" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Bestsellers" rynResource="Admin.Reports.Sales.Bestsellers" PermissionNames="ManageOrders" controller="Report" action="Bestsellers" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Products never purchased" rynResource="Admin.Reports.Sales.NeverSold" PermissionNames="ManageOrders" controller="Report" action="NeverSold" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Country sales" rynResource="Admin.Reports.Sales.Country" PermissionNames="OrderCountryReport" controller="Report" action="CountrySales" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Customers" rynResource="Admin.Reports.Customers" PermissionNames="ManageCustomers" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Registered customers" rynResource="Admin.Reports.Customers.RegisteredCustomers" PermissionNames="ManageCustomers" controller="Report" action="RegisteredCustomers" IconClass="far fa-dot-circle" />
        <siteMapNode SystemName="Customers by order total" rynResource="Admin.Reports.Customers.BestBy.BestByOrderTotal" PermissionNames="ManageCustomers" controller="Report" action="BestCustomersByOrderTotal" IconClass="far fa-dot-circle" />
        <siteMapNode SystemName="Customers by number of orders" rynResource="Admin.Reports.Customers.BestBy.BestByNumberOfOrders" PermissionNames="ManageCustomers" controller="Report" action="BestCustomersByNumberOfOrders" IconClass="far fa-dot-circle" />
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Help" rynResource="Admin.Help" IconClass="fas fa-question-circle">
      <siteMapNode SystemName="Documentation" rynResource="Admin.Help.Documentation" url="https://docs.ryncommerce.com?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=documentation&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Community forums" rynResource="Admin.Help.Forums" url="https://www.ryncommerce.com/boards?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=forum&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Premium support services" rynResource="Admin.Help.SupportServices" url="https://www.ryncommerce.com/ryncommerce-premium-support-services?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=premium_support&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Solution partners" rynResource="Admin.Help.SolutionPartners" url="https://www.ryncommerce.com/solution-partners?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=solution_partners&amp;utm_content=help" IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" rynResource="Admin.Plugins" IconClass="fas fa-bars" />
  </siteMapNode>
</siteMap>
